.loading-bro {
  margin: 50px auto;
  width: 150px;
  > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #000000;
  }
}

#load {
  width: 150px;
  animation: loading 3s linear infinite;
  #loading-inner {
    stroke: {
      dashoffset: 0;
      dasharray: 300;
      width: 10;
      miterlimit: 10;
      linecap: round;
    }
    animation: loading-circle 2s linear infinite;
    stroke: #000000;
    fill: transparent;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -600;
  }
}

.btn-primary {
  background: #8C54A1;
  border-color: #8C54A1;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #713e85;
  border-color: #713e85;
}

.toast-border {
  border-radius: 7px;
}

/* Make the badge float in the top right corner of the button */
.notificationBadge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 2px;
  font-size: 12px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 20;
}

.navbarFont {
  font-size: 16px;
}

.slideContainer {
  width: 100%;
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #969696;
  background: #AEAEAE;
  border-radius: 10px;
  border: 0px solid #969696;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #969696;
  border: 2px solid #969696;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #F7F7F7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #AEAEAE;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #969696;
  background: #AEAEAE;
  border-radius: 10px;
  border: 0px solid #969696;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #969696;
  border: 2px solid #969696;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #F7F7F7;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #AEAEAE;
  border: 0px solid #969696;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #969696;
}
input[type=range]::-ms-fill-upper {
  background: #AEAEAE;
  border: 0px solid #969696;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #969696;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #969696;
  border: 2px solid #969696;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #F7F7F7;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #AEAEAE;
}
input[type=range]:focus::-ms-fill-upper {
  background: #AEAEAE;
}
